# dependencies
node_modules

# next.js
.next/
out/

# build artifacts
*.tsbuildinfo

# env files
.env*.local
.env

# OS / misc
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# lockfile backups
package-lock.backup.json

# IDE
.vscode/
.idea/

# coverage
coverage/

# caches
.vercel/
.eslintcache
